/* Small reset */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.1; /* 2 */
  //-ms-text-size-adjust: 100%; /* 3 */
  //-webkit-text-size-adjust: 100%; /* 3 */
}

body {
  background-color: #515151;
  color: #34495e;
  padding-bottom: 100px;
}

h1 {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  color: #ffffff;
}

/* Tranlsation settings */

#google_translate_element:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-left: 20px;
    font-size: 1.4rem;
    color: white;
    display: block;
    float: right;
}

.goog-logo-link {
    display:none !important;
} 

.goog-te-gadget{
    color: transparent !important;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 

body {
    top: 0px !important; 
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}

/* Intro section, with dynamic show & hide */

.intro-tour-header {
    width: 100%;
    min-width: 320px;
    height: auto;
    color: #fff;
    background-color: #17244f;
    background: linear-gradient(90deg,#17244f 0,#05b5c1);
    position: relative;
}

.intro-tour-header>.tour-header-content-container {
    min-height: 160px;
    max-height: 330px;
    transition: max-height .2s linear,min-height .2s linear,visibility .2s;
    position: relative;
    overflow: hidden;
    //display: none;
}

.intro-tour-header>.tour-header-content-container h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.intro-tour-header>.tour-header-content-container p {
    margin-top: 8px;
    margin-bottom: 4px;
    line-height: 1.2em;
}

.intro-tour-header>.tour-header-content-container ul {
    margin-top: 8px;
    margin-bottom: 4px;
}

.intro-tour-header>.tour-header-content-container.ul li {
    margin-top: 4px;
    line-height: 1.2em;
}

.intro-tour-header>.tour-header-content-container>.tour-header-background {
    position: absolute;
    background: transparent url(./img/network-background.png) 0 100% no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 280px;
    opacity: .5;
}

.intro-tour-header>.tour-header-content-container>.tour-header-content {
    color: inherit;
    position: relative;
    padding: 18px 10px 18px 40px;
}

.intro-tour-header>.tour-header-content-container>.dismiss-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: inherit;
    width: 24px;
    height: 24px;
    z-index: 2;
    padding: 0;
    border: none;  
}

.intro-tour-header>.tour-header-content-container>.dismiss-button:hover {
    background-color:hsla(0,0%,100%,.2)
}
.intro-tour-header>.tour-header-content-container>.dismiss-button:active,.intro-tour-header>.tour-header-content-container>.dismiss-button:focus {
    background-color:hsla(0,0%,100%,.4)
}

.intro-glyph {
    color: #ffffff;
    fill: #ffffff;
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.intro-tour-header>.tour-header-content-container>.dismiss-button>.intro-glyph {
    display: block;
    margin: 0 auto;
}

.intro-tour-header>button {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(100% - 16px);
    background: none;
    padding: 0;
    border: none;
}

.intro-tour-header>button>svg {
    color: #b3b3b3;
    width: 32px;
    height: 32px;
}

.intro-tour-header>button>svg .background {
    fill: #b3b3b3;
}

.intro-tour-header>button:focus,.intro-tour-header>button:hover {
    outline:none
}

.intro-tour-header>button:focus>svg,.intro-tour-header>button:hover>svg {
    color:#f3f3f3
}

.intro-tour-header>button:focus>svg .background,.intro-tour-header>button:hover>svg .background {
    fill:#00838c
}

/* end of Intro section */


.fa-layer-group, .fa-search, .fa-question {
  margin-right: 6px;
}


/* start of Tabs section */

.container>.tabs {
  display: flex;
  flex-wrap: wrap;
}
 
.container>.tabs .tab-label {
  order: 1;
  display: block;
  padding: 0.5rem 1.5rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background:  #858585;
  font-weight: bold;
  color: #ffffff;
  transition: background ease 0.2s;
}
 
.container>.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 0.6rem 0.2rem 0.6rem 1rem;
  background: #cacaca;
}
 
.container>.tabs input[type="radio"] {
  display: none;
}
 
.container>.tabs input[type="radio"]:checked + .tab-label {
  background: #cacaca;
  color: #e60000;
}
 
.container>.tabs input[type="radio"]:checked + .tab-label + .tab {
  display: block;
}
 
@media (max-width: 15em) {
  .container>.tabs .tab,
  .container>.tabs .tab-label {
    order: initial;
  }
 
  .container>.tabs .tab-label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/* end of Tabs section */

#strategy-2030-element {
  width: 22%; 
}

#search-description-element {
  width: 50%; 
}

#strategy-2030-description, #search-description {
  margin: auto;
  padding: 0px 0;
  font-style: italic;
  font-size: 14px;
  color: #202020;
}

#about-tab {
  font-size: 14px;
  color: #202020;
}

#about-tab.ul li {
  padding: 5px;
}

#controls-row {
  margin-top: 0.6em;
}

#sort-label, .sort-options {
  clear: both;
  display: inline-block;
}

#sort-label {
  vertical-align: top;
  color: #ffffff;
  line-height: 26px;
}

.btn .fa-sort-alpha-down, .fa-calendar, .fa-undo-alt {
  color: #cacaca;
}


.btn.active .fa-undo-alt {
  color: #ffffff;
}

.btn.active .fa-sort-alpha-down {
  color: #ffffff;
}

.btn.active .fa-calendar {
  color: #ffffff;
}


#clear-filters-element {
  
}

#submit-new-opportunity {
  flex-shrink: 2; 
  display: inline-block;
  border-radius: 15px;
  float: right;
}

#submit-new-opportunity.a {
   border-radius: 15px; 
}

#Intro_text1, #Intro_text2  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  opacity:0.7;
  font-size: 1.2em;
  padding: 12px;
  display: none;
  width: 50%;
}

figure {
  margin: 0;
  //padding: 0;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none
}

a,
a:visited {
  color: #3498db;
}

a:hover {
  text-decoration: underline
}

a:active {
  color: #2ecc71
}

p {
  margin: 0.25em 0;
  line-height: 1.4;
}

#filters-section {
  padding-top: 0.4em;
}

.filter-label {
  color: #ffffff;
}

/*
  Shuffle needs either relative or absolute positioning on the container
  It will set it for you, but it'll cause another style recalculation and layout.
  AKA worse performance - so just set it here
 */
.my-shuffle-container {
  position: relative;
  overflow: hidden;
}

.my-sizer-element {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

$picture-gutter: 24px;
$item-height: 220px;
.picture-item {
  height: 220px;
  margin-top: $picture-gutter;

  img {
    display: block;
    width: 100%;
  }
  
  height: auto;
  margin-top: 14px;
}

@supports (object-fit: cover) {
  .picture-item img {
    max-width: none;
    height: 100%;
    object-fit: cover;
    margin:0 auto;
  }
}

.picture-item--h2 {
  height: ($item-height * 2) + $picture-gutter; /* 2x the height + 1 gutter */
}

.picture-item__inner {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #ecf0f1;
}

.picture-item__details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

.picture-item__title {
  flex-shrink: 1;
  margin-right: 4px;
  font-weight: bold;
}

.picture-item__tags {
  flex-shrink: 1;
  text-align: right;
  margin: 0;
  font-size: 0.75em;
}

.picture-item__descriptionbox {
  position: absolute;
  top: 2; /* originally -5 */
  display: none;
  float: left;
  z-index: 1;
  align-items: baseline;
  justify-content: space-between;
  width: 96%;  /* originally 94% */
  padding: 0.5em;
}

.picture-item__descriptionbox .back {
    position: absolute; z-index: 2;
    top: 0; left: 0; width: 100%; height: 100%;
    background: white; opacity: 0.80;
}

body.browser-ie8 .picture-item__descriptionbox .back { filter: alpha(opacity=80); }

.picture-item__description {
  position: relative; 
  z-index: 3;
  display: inline !important;
  padding: 0 1em 0.3em 0;
  margin: 0;
  font-size: 0.9em;
}

.Start_card_descriptionbox {
  position: absolute;
  top: 2; /* originally -5 */
  display: none;
  float: left;
  z-index: 1;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;  /* originally 94% */
  padding: 0.5em;
}

.Start_card_descriptionbox .back {
    position: absolute; z-index: 2;
    top: 0; left: 0; width: 100%; height: 100%;
    background: white; opacity: 0.80;
}

body.browser-ie8 .Start_card_descriptionbox .back { filter: alpha(opacity=80); }

.Start_card_description {
  position: relative; 
  z-index: 3;
  display: inline !important;
  padding: 0 1em 0.3em 0;
  margin: 0;
  font-size: 0.9em;
  color: red;
}

.picture-item__location {
  position: relative; 
  display: none;
  z-index: 3;
  font-size: 0.8em;
}

.picture-item__stage {
  position: relative; 
  z-index: 3;
  display: inline !important;
  font-size: 0.9em;
  font-style: italic;
  
}

.picture-item__contact {
  position: relative; 
  z-index: 3;
  display: inline !important;
  font-size: 0.9em;
}

.HOpE-buttons {
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 0 0em 0.3em 0;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  color: #4eb5f1;
  background-color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;

  vertical-align: middle;
}

#share-new {
  color:#FFFFFF;
  background-color: #e60000;
}

.HOpE-buttons:hover, #share-new:hover {
  color:#FFFFFF;
  background-color: #4095c6;
}


@media all and (max-width:30em){
 .HOpE-buttons {
  display:block;
  margin:0.2em auto;
 }
}


@media screen and (min-width: 1000px) {
  .picture-item--overlay {
    .picture-item__details {
      font-size: 0.9em;
    }

    .picture-item__description {
      display: none;
      font-size: 0.9em;
    }
  }
}


@media screen and (min-width: 800px) {
  #strategy-2030-element {
      display: block; 
  }
  
  #strategy2030-text {
    display: none;
  }
  
  #search-description-element {
      width: 100%; 
  }
  
}


@media screen and (max-width: 799px) {
  #strategy-2030-element {
      display: none; 
  }
  
  #strategy2030-text {
    display: inline-block;
  }
  
  #search-description-element {
      width: 100%; 
  }
  
}

@media screen and (min-width: 500px) {
  .picture-item--overlay {
    .picture-item__details {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      backdrop-filter: blur(7px);
      color: white;
      overflow: hidden;
      font-size: 0.7em;
    }

    .picture-item__description {
      display: none;
      font-size: 0.8em;
    }
    
    a {
      color: white;
      text-shadow: 0 0 1px black;
    }
  }
  
}


@media screen and (max-width: 500px) {
  .picture-item {
    height: auto;
    margin-top: 20px;
  }

  .picture-item__details,
  .picture-item__description {
    font-size: 1em;
    padding: 0.4em;
  }

  .picture-item__location,
  .picture-item__contact {
    font-size: 1em;
    padding: 0.4em;
  }
  
  .picture-item--h2 {
    height: auto;
  }
    
  h1 {
    font-size: 1.5em;
  }
  
  .HOpE-buttons {
    font-size: 12px;
  }
}


// Filter styling
// --------------
.filter-label {
  padding: 6px 0 6px 0;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #95a5a6;
}

#transformations-label {
  clear: both;
}

legend {
  padding: 6px 0 6px 0;
}

.filters-group {
  padding: 0;
  margin: 0 0 4px;
  border: 0;
} 

@media screen and (min-width: 768px) {
  .filters-group-wrap {
    display: flex;
    justify-content: space-between;
  }
}
.btn-group:after,.btn-group:before {
  content: " ";
  display: table
}

.btn-group:after {
  clear: both
}

.btn-group .btn {
  float: left;
  border-radius: 0.25em;
}

.btn-group .btn:first-child {
  border-radius: 3px 0 0 3px
}

.btn-group .btn:not(:first-child) {
  margin-left: -1px
}

.btn-group .btn:last-child {
  border-radius: 0 3px 3px 0
}

.btn-group label.btn input[type=radio] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none
}

.btn {
  display: inline-block;
  padding: .3em .3em;
  margin: 4px 5px;
  text-align: center;
  border-radius: 0.25em;
  border-style: solid;
  border-color: #34495e;
  border-width: 0px 0px 0px 0px;
  color: #34495e; 
  font-size: 1rem;
  background-color: rgba(52,73,94,0);
  transition: .2s ease-out;
  cursor: pointer;
  -webkit-appearance: none
}

.precede-option:before {
  content: "/ ";
  position: relative;
  left: -1px;
}


@media (-moz-touch-enabled:0),(pointer: fine) {
  .btn:hover {
    color:#fff;
    text-decoration: none;
    background-color: #34495e
  }
}

.btn:focus {
  outline-width: 0;
  box-shadow: 0 0 0 2px rgba(52,73,94,.4)
}

.btn.active,.btn:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  color: #fff;
  background-color: #34495e
}

.btn:focus.active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3),0 0 0 2px rgba(52,73,94,.4)
}

.btn:disabled {
  cursor: not-allowed;
  opacity: .7;
  color: #34495e;   /* originally #34495e */
  background-color: rgba(52,73,94,0)
}

.btn--primary {
  color: #3498db;   /* originally #34495e. Later tried with red (#e60000)*/
  border-color: #3498db;
  background-color: rgba(255,255,255,0.5)  /* rgba(52,152,219,0)  */
}

@media (-moz-touch-enabled:0),(pointer: fine) {
  .btn--primary:hover {
    background-color:#3498db
  }
}

.btn--primary:focus {
  box-shadow: 0 0 0 2px rgba(52,152,219,.4)
}

.btn--primary.active,.btn--primary:active {
  background-color: #3498db
}

.btn--primary:focus.active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3),0 0 0 2px rgba(52,152,219,.4)
}

.btn--primary:disabled {
  color: #3498db;
  background-color: rgba(52,152,219,0)
}

@media screen and (max-width: 767px) {
  .btn {
    font-size:.875rem
  }
}

// Textfield
// ----------------
.textfield {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #95a5a6;
  border-radius: 4px;
  padding: .5em;
  font-size: 1rem;
  color: #34495e;
  transition: .15s
}

.textfield::-webkit-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield:-ms-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield::-ms-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield::placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield:hover {
  outline-width: 0;
  color: #5d6d77;
  border-color: #5d6d77
}

.textfield:hover::-webkit-input-placeholder {
  color: #5d6d77
}

.textfield:hover:-ms-input-placeholder {
  color: #5d6d77
}

.textfield:hover::-ms-input-placeholder {
  color: #5d6d77
}

.textfield:hover::placeholder {
  color: #5d6d77
}

.textfield:focus {
  outline-width: 0;
  border-color: #34495e
}

.textfield:focus::-webkit-input-placeholder {
  color: #34495e
}

.textfield:focus:-ms-input-placeholder {
  color: #34495e
}

.textfield:focus::-ms-input-placeholder {
  color: #34495e
}

.textfield:focus::placeholder {
  color: #34495e
}

// bootstrap3-like grid
// -----------
.container {
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .row {
  margin-left: -8px;
  margin-right: -8px;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

// bootstrap3-like grid
.col-1\@xs,
.col-2\@xs,
.col-3\@xs,
.col-4\@xs,
.col-5\@xs,
.col-6\@xs,
.col-1\@sm,
.col-2\@sm,
.col-3\@sm,
.col-4\@sm,
.col-5\@sm,
.col-6\@sm,
.col-7\@sm,
.col-8\@sm,
.col-9\@sm,
.col-10\@sm,
.col-11\@sm,
.col-12\@sm,
.col-1\@md,
.col-2\@md,
.col-3\@md,
.col-4\@md,
.col-5\@md,
.col-6\@md,
.col-7\@md,
.col-8\@md,
.col-9\@md,
.col-10\@md,
.col-11\@md,
.col-12\@md {
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}

.col-1\@xs,
.col-2\@xs,
.col-3\@xs,
.col-4\@xs,
.col-5\@xs,
.col-6\@xs {
  float: left;
}

.col-1\@xs {
  width: 16.66667%;
}

.col-2\@xs {
  width: 33.33333%;
}

.col-4\@xs {
  width: 66.66667%;
}

.col-5\@xs {
  width: 83.33333%;
}

.col-6\@xs {
  width: 100%;
}

@media screen and (min-width: 500px) {
  
  .col-3\@xs {
    width: 50%;
  }
  
}

@media screen and (min-width: 1024px) {
  .col-1\@sm,
  .col-2\@sm,
  .col-3\@sm,
  .col-4\@sm,
  .col-5\@sm,
  .col-6\@sm,
  .col-7\@sm,
  .col-8\@sm,
  .col-9\@sm,
  .col-10\@sm,
  .col-11\@sm,
  .col-12\@sm {
    float: left;
  }

  .col-1\@sm {
    width: 8.33333%;
  }

  .col-2\@sm {
    width: 16.66667%;
  }

  .col-3\@sm {
    width: 25%;
  }

  .col-4\@sm {
    width: 33.33333%;
  }

  .col-5\@sm {
    width: 41.66667%;
  }

  .col-6\@sm {
    width: 50%;
  }

  .col-7\@sm {
    width: 58.33333%;
  }

  .col-8\@sm {
    width: 66.66667%;
  }

  .col-9\@sm {
    width: 75%;
  }

  .col-10\@sm {
    width: 83.33333%;
  }

  .col-11\@sm {
    width: 91.66667%;
  }

  .col-12\@sm {
    width: 100%;
  }

  .container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .row {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1024px) {
  .col-1\@md,
  .col-2\@md,
  .col-3\@md,
  .col-4\@md,
  .col-5\@md,
  .col-6\@md,
  .col-7\@md,
  .col-8\@md,
  .col-9\@md,
  .col-10\@md,
  .col-11\@md,
  .col-12\@md {
    float: left;
  }

  .col-1\@md {
    width: 8.33333%;
  }

  .col-2\@md {
    width: 16.66667%;
  }

  .col-3\@md {
    width: 25%;
  }

  .col-4\@md {
    width: 33.33333%;
  }

  .col-5\@md {
    width: 41.66667%;
  }

  .col-6\@md {
    width: 50%;
  }

  .col-7\@md {
    width: 58.33333%;
  }

  .col-8\@md {
    width: 66.66667%;
  }

  .col-9\@md {
    width: 75%;
  }

  .col-10\@md {
    width: 83.33333%;
  }

  .col-11\@md {
    width: 91.66667%;
  }

  .col-12\@md {
    width: 100%;
  }
}
